<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% let catN = menuItems %>
  <title><%= catN %></title>
</head>
<body>
    <%- include('./partials/nav') %>

  <h1>category: <%= catN %></h1>
   
  <ul>
    <% menuItems.forEach((item) => { %>
      <li>Name: <%= item.name %> -
        Price: <%= item.price %> -
        Rating: <%= item.rating %>-
        Details: <%= item.details %></li>
    <% }); %>
  </ul>
  <title>
    
  </title>
  

  
  <ul>
    
  </ul>
  
</body>
</html>